@charset "utf-8";
.acc {
    &-table {
        &.pure-u-4-5 {
            min-height: 585px;
        }
        [class*="pure-u"] {
            @include fsize(12);
        }
        .bb-dashed {
            padding: 0 10px;
            border-bottom: 1px dashed $gray-lightee;
            .td-wrap {
                height: 50px;
            }
        }
        label.btn {
            // &:active {
            //     @include box-shadow(none);
            // }
            border-top: 0;
            //hover style override
            &:hover,
            &:focus,
            &.focus,
            &.active,
            &:active {
                background: transparent;
                border-color: $gray-lighter;
                @include box-shadow(none);
            }
            // for row span's vertical align in "to be paid" page
            .media-left {
                max-width: 0px; //fix the nested table cell width issue
                padding: 0;
                border-right: 1px dashed $gray-lightee;
                & > div {
                    padding: 5px 0;
                    border-bottom: 1px dashed $gray-lightee;
                    &:last-child {
                        border: 0;
                    }
                }
                //ie hack for table cell flex width
                p {
                    width: 228px\9\0;
                }
            }
        }
    }
    &-thead {
        padding: 5px 10px;
    }
    //collections
    &-collect {
        margin-right: -10px;
        background: #fff;
        .pure-u-1-4,
        .pure-u-1-5 {
            padding: 10px;
        }
        // em {
        //     margin: 0;
        // }
        //delete operation
        &-op {
            max-width: 14px;
            height: 22px;
            overflow: hidden;
            position: absolute;
            bottom: 8px;
            right: 4px;
            color: $gray-lighte;
            cursor: pointer;
            @include transition(all .2s linear);
            &:hover {
                color: $btn_color;
                max-width: 200px;
            }
        }
        //brand page
        &-brand {
            height: 220px;
            &-wrap {
                dl {
                    margin-bottom: 0;
                }
                hr {
                    margin: 0;
                }
            }
            .img-circle {
                width: 70px;
                margin: 0 auto 10px;
            }
            .tmallicon {
                vertical-align: top;
            }
            &-op {
                margin-top: 4px;
                a {
                    display: inline-block;
                    color: $gray-lighte;
                    &:hover {
                        color: $btn_color;
                        text-decoration: none;
                    }
                }
                small {
                    display: block;
                    @include fsize(8);
                }
            }
        }
    }
}
