@charset "utf-8";
.left {
    &-menu {
        // &-wrap {
        //     position: sticky;
        //     top: 100px;
        // }
        background: $gray-dark;
        color: #fff;
        overflow: hidden;
        padding: 12px;
        h4 {
            margin-bottom: 22px;
            padding: 0 4px;
        }
        &-bar {
            width: 100%;
            min-width: 160px;
            padding: 10px 0;
            line-height: 0;
            border-top: 1px solid $gray-light;
            label {
                font-weight: normal;
                line-height: 40px;
                width: 100%;
                margin: 0;
                padding-left: 4px;
                cursor: pointer;
                height: 40px;
                overflow: hidden;
                &.active,
                &:hover {
                    background: $btn_color;
                }
            }
            i {
                margin-right: 4px;
                line-height: 36px;
            }
            .glyphicon-chevron-down {
                float: right;
                line-height: 40px;
                @include transition(all .2s);
                &.rotate {
                    @include transform(rotateZ(-180deg));
                }
            }
        }
        &-list {
            padding: 0;
            margin: 0;
            li {
                width: 100%;
                cursor: pointer;
                overflow: hidden;
                list-style: inside disc;
                padding-left: 10%;
                margin: 10px 0;
                &.active,
                &:hover {
                    background: $btn_color;
                    .badge {
                        background: #fff;
                        color: $btn_color;
                    }
                }
                a {
                    color: #fff;
                    line-height: 28px;
                    &:hover {
                        text-decoration: none;
                    }
                }
            }
            .badge {
                background: $btn_color;
                margin: 5px;
            }
        }
        &-sel {
            background: $btn_color;
        }
        &.affix {
            position: fixed !important;
            width: 238px;
            top: 80px + 20;
        }
    }
}

//affix condition
// .affix{
//     .left-menu{
//         position: fixed;
//         width: 238px;
//         top: 80px
//     }
// }
// .affix-bottom{
//     position: absolute;
// }
