@charset "utf-8";
%td-height {
    min-height: 40px;
    line-height: 40px;
    text-align: center;
}

.table {
    //table wrap
    &-admin {
        margin: $main_padding 0;
        [class*='pure-u'] {
            @include fsize(12);
        }
    }
    //thead part
    &-thead {
        @extend %td-height;
        background: $nav_admin;
        color: #fff;
    }
    //default row
    &-row {
        @extend %td-height;
        .btn {
            vertical-align: unset;
        }
        select {
            width: 100%;
        }
        input[type="text"] {
            width: 100%;
            height: 34px;
            line-height: 32px;
            margin: 3px 0;
        }
        //
        &.with-photo {
            line-height: 60px;
        }
        [class*="pure-u"] {
            padding: 0 ($grid-gutter-width / 2);
        }
        label {
            font-weight: normal;
        }
    }
    &-label {
        margin: 0px;
        @extend %td-height;
        background: $nav_admin;
        float: none;
        color: #fff;
        padding-right: 0;
    }
    &-thumb {
        width: 50px;
        height: 50px;
        display: inline-block;
        vertical-align: middle;
    }
}

// table row with border
.has-border {
    border: 1px solid $gray;
    border-top: 0;
    &-top {
        border-top: 1px solid $gray;
        border-bottom: 0;
    }
    //cell inside width border
    &-cell{
        border-left: 1px solid $gray;
        > div{
            border-right: 1px solid $gray;
            border-bottom: 1px solid $gray;
        }
    }
}

//single line ellipsis
.td-ellipsis {
    height: 40px;
    @include ellipsis(true);
}

//file upload button
.btn-file {
    position: relative;
    input {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        @include opacity(0);
        cursor: pointer;
    }
}
