@charset "utf-8";
.adminMain {
    padding: ($main_padding + $topNav_h) $main_padding $main_padding ($aside_w + $main_padding);
    &-header {
    	margin-bottom: $main_padding;
        .breadcrumb {
            margin: 0px;
            background: transparent none repeat scroll 0% 0%;
        }
        &-input{
        	display: inline-block;
        	position: relative;
        	border: 1px solid $gray-lightee;
        	//padding: 0 8px;
        	overflow: hidden;
			vertical-align: middle;
			white-space: nowrap;
			max-width: 34px;
			height: 34px;
        	@include transition(all .3s linear);
        	label{
        		cursor: pointer;
        		width: 34px;
        		height: 34px;
        		line-height: 32px;
        		text-align: center;
        		vertical-align: top;
        	}
        	&:hover{
        		background: $nav_admin;
        		color: #fff;
        	}
        	&.expand{
        		max-width: 240px;
        		&:hover{
        			background: #fff;
        			color: $gray;
        		}
        	}
        	input{
        		width: 140px !important;
        		border: 0;
        		font-weight: normal;
        		vertical-align: top;
        	}
        	.btn{
        		vertical-align: top;
        	}
        }
        input{
        	//width: 220px;
        	width: 100%;
        	height: 34px;
        	vertical-align: middle;
        }
    }
    //select dropdown fix
    .dropdown-toggle {
        height: 34px;
        padding-top: 7px;
        padding-bottom: 7px;
    }
}
