@charset 'utf-8';
.adminMain {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: ($main_padding + $topNav_h) $main_padding $main_padding ($aside_w + $main_padding);
    &-header {
        margin-bottom: $main_padding;
        .breadcrumb {
            margin: 0;
            background: transparent none repeat scroll 0 0;
            li {
                float: left;
            }
        }
        &-input {
            position: relative;
            display: inline-block;
            //padding: 0 8px;
            overflow: hidden;
            max-width: $main_header_height;
            height: $main_header_height;
            vertical-align: middle;
            white-space: nowrap;
            border: 1px solid $gray-lightee;
            @include transition(all .2s linear);
            label {
                line-height: 32px;
                width: $main_header_height;
                height: $main_header_height;
                cursor: pointer;
                text-align: center;
                vertical-align: top;
            }
            &:hover {
                color: #fff;
                background: $nav_admin;
            }
            &.expand {
                max-width: 240px;
                &:hover {
                    color: $gray;
                    background: #fff;
                }
            }
            input {
                font-weight: normal;
                width: 140px !important;
                vertical-align: top;
                border: 0;
            }
            .btn {
                vertical-align: top;
            }
        }
        input {
            //width: 220px;
            width: 100%;
            height: $main_header_height;
            vertical-align: middle;
        }
    }
    //select dropdown fix
    // .dropdown-toggle {
    //     height: $main_header_height;
    //     padding-top: 7px;
    //     padding-bottom: 7px;
    // }
}
