@charset "utf-8";
$grid-gutter-width: 20px;
//nav admin color lightblue
// $btn_color: #34485E;
$nav_admin: #34485E;
//type override
$headings-font-weight: bold;
// btn primary override
$btn-primary-color: #fff;
$btn-primary-bg: $nav_admin;
$btn-primary-border: darken($nav_admin, 5%);
// top nav height
$topNav_h: 60px;
//aside nav width
$aside_w: 200px;
//main body padding
$main_header_height: 34px;
$main_padding: 20px;
//breadcrumb
$breadcrumb-separator:">";
$breadcrumb-padding-vertical: 7px;
$breadcrumb-padding-horizontal: 0;
$link-color: $nav_admin;
$link-hover-color: darken($link-color, 15%);
//pagination override
$pagination-color: $link-color;
$pagination-bg: #fff;
$pagination-border: #ddd;
$pagination-hover-color: #fff;
$pagination-hover-bg: $nav_admin;
$pagination-hover-border: #ddd;
$pagination-active-color: #fff;
$pagination-active-bg: $nav_admin;
$pagination-active-border: $nav_admin;
$pagination-disabled-color: $gray-lightee;
$pagination-disabled-bg: #fff;
$pagination-disabled-border: #ddd;
//panel override
$panel-heading-padding: 4px 8px;
$panel-body-padding: 0;
//tooltip z-index
$zindex-tooltip: 1;
$tooltip-color: #fff;
$tooltip-bg: $gray-darker;
$tooltip-arrow-color: $gray-darker;
//background override
$brand-primary: $btn-primary-border;
// Links
a {
    color: $link-color;
    text-decoration: none;
    &:hover,
    &:focus {
        color: $link-hover-color;
        text-decoration: $link-hover-decoration;
    }
    &:focus {
        @include tab-focus;
    }
}

//pagination extend
.pagination {
    vertical-align: middle;
    &-info {
        display: inline-block;
        color: $gray;
    }
    &-direct {
        margin: 0px 20px;
        input {
            width: 34px;
            height: 34px;
        }
    }
}

//modals
$border-radius-large: 0;
$modal-header-border-color: transparent;
$modal-footer-border-color: transparent;

// pure extend for col-15 and col-20
.pure-u-1-15,
.pure-u-2-15,
.pure-u-3-15,
.pure-u-4-15,
.pure-u-5-15,
.pure-u-6-15,
.pure-u-7-15,
.pure-u-8-15,
.pure-u-9-15,
.pure-u-10-15,
.pure-u-11-15,
.pure-u-12-15,
.pure-u-13-15,
.pure-u-14-15,
.pure-u-15-15,
.pure-u-1-20,
.pure-u-2-20,
.pure-u-3-20,
.pure-u-4-20,
.pure-u-5-20,
.pure-u-6-20,
.pure-u-7-20,
.pure-u-8-20,
.pure-u-9-20,
.pure-u-10-20,
.pure-u-11-20,
.pure-u-12-20,
.pure-u-13-20,
.pure-u-14-20,
.pure-u-15-20,
.pure-u-16-20,
.pure-u-17-20,
.pure-u-18-20,
.pure-u-19-20,
.pure-u-20-20 {
    display: inline-block;
    *display: inline;
    zoom: 1;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto;
    @include fsize(14);
}

.pure-u-1-15 {
    width: 6.6667%;
    *width: 6.6357%;
}

.pure-u-2-15 {
    width: 13.3333%;
    *width: 13.3023%;
}

.pure-u-3-15 {
    width: 20%;
    *width: 19.9690%;
}

.pure-u-4-15 {
    width: 26.6667%;
    *width: 26.6357%;
}

.pure-u-5-15 {
    width: 33.3333%;
    *width: 33.3023%;
}

.pure-u-6-15 {
    width: 40%;
    *width: 39.9690%;
}

.pure-u-7-15 {
    width: 46.6667%;
    *width: 46.6357%;
}

.pure-u-8-15 {
    width: 53.3333%;
    *width: 53.3023%;
}

.pure-u-9-15 {
    width: 60%;
    *width: 59.9690%;
}

.pure-u-10-15 {
    width: 66.6667%;
    *width: 66.6357%;
}

.pure-u-11-15 {
    width: 73.3333%;
    *width: 73.3023%;
}

.pure-u-12-15 {
    width: 80%;
    *width: 79.9690%;
}

.pure-u-13-15 {
    width: 86.6667%;
    *width: 86.6357%;
}

.pure-u-14-15 {
    width: 93.3333%;
    *width: 93.3023%;
}

.pure-u-15-15 {
    width: 100%;
}

.pure-u-1-20 {
    width: 5%;
    *width: 4.9690%;
}

.pure-u-2-20 {
    width: 10%;
    *width: 9.9690%;
}

.pure-u-3-20 {
    width: 15%;
    *width: 14.9690%;
}

.pure-u-4-20 {
    width: 20%;
    *width: 19.9690%;
}

.pure-u-5-20 {
    width: 25%;
    *width: 24.9690%;
}

.pure-u-6-20 {
    width: 30%;
    *width: 29.9690%;
}

.pure-u-7-20 {
    width: 35%;
    *width: 34.9690%;
}

.pure-u-8-20 {
    width: 40%;
    *width: 39.9690%;
}

.pure-u-9-20 {
    width: 45%;
    *width: 44.9690%;
}

.pure-u-10-20 {
    width: 50%;
    *width: 49.9690%;
}

.pure-u-11-20 {
    width: 55.0000%;
    *width: 54.9690%;
}

.pure-u-12-20 {
    width: 60%;
    *width: 59.9690%;
}

.pure-u-13-20 {
    width: 65%;
    *width: 64.9690%;
}

.pure-u-14-20 {
    width: 70%;
    *width: 69.9690%;
}

.pure-u-15-20 {
    width: 75%;
    *width: 74.9690%;
}

.pure-u-16-20 {
    width: 80%;
    *width: 79.9690%;
}

.pure-u-17-20 {
    width: 85%;
    *width: 84.9690%;
}

.pure-u-18-20 {
    width: 90%;
    *width: 89.9690%;
}

.pure-u-19-20 {
    width: 95%;
    *width: 94.9690%;
}

.pure-u-20-20 {
    width: 100%;
}

//caret extend
.caret-up {
  border-bottom:   $caret-width-base dashed;
  border-bottom:   $caret-width-base solid \9; // IE8
  border-top: $caret-width-base solid transparent !important;
  margin-bottom: 4px;
}