@charset "utf-8";
.bBranch {
    background: $gray-lighter;
    //affix style
    &.affix {
        padding-top: 80px;
        .bBranch-banner-wrap {
            position: fixed;
            top: 80px;
            z-index: 11;
        }
    }
    // top banner
    &-banner {
        padding: 0;
        height: 80px;
        &-wrap {
            width: 100%;
            height: auto;
            background: #fff;
            border-top: 1px solid $gray-lighter;
            @include box-shadow(0 4px 8px $gray-lightee);
        }
        >span {
            display: inline-block;
            vertical-align: middle;
            height: 100%;
        }
        .brands-logo {
            display: inline-block;
        }
    }
    //body part
    .indexMain-floor-item {
        width: 1220px;
        padding: 0;
        .pure-u-1-5 {
            padding: 15px;
        }
        &-wrap {
            padding: 4px;
            height: auto;
            background: #fff;
            span,
            p {
                padding: 0;
                line-height: unset;
            }
            span {
                margin-top: 6px;
                height: 40px;
                overflow: hidden;
                position: unset;
                display: inline-block;
            }
        }
    }
    //pagination part
    .pagination{
        //margin-right: -($grid-gutter-width / 2);
        font-size: 0; //remove the gutter
        line-height: 0;
        vertical-align: middle;
        >li{
            display: inline-block;
            @include fsize(14);
            &:first-child,
            &:last-child{
                margin: 0 10px;
            }
        }
        &-info,
        &-direct{
            display: inline-block;
            color: $gray;
        }
        &-direct{
            margin: 0 20px;
            input{
                width: 34px;
                height: 34px;
            }
        }
    }
}
