@charset "utf-8";
.brandMain {
    margin-top: 130px;
    position: relative;
    &-bg {
        background: image-url("brands_bg.jpg") no-repeat center top;
        background-size: 100% auto;
        width: 100%;
        height: 100%;
        position: fixed;
        top: 80px;
        left: 0;
        z-index: 1;
    }
    &-wrap {
        min-width: $min_w;
        position: relative;
        z-index: 2;
    }
    //floors
    &-floor {
        border: 0 !important;
        -moz-box-shadow: none !important;
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        margin-top: 40px;
        >div {
            float: right;
        }
        &-titleBar {
            padding-left: 15px;
            color: #fff;
        }
    }
    .pure-g {
        margin: 0 (-$grid-gutter-width / 2 - $brands-item-padding);
    }
    .pure-u-1-5 {
        padding: $brands-item-padding;
    }
    //item auto height
    .indexMain-floor-item-wrap {
        height: auto;
        background: #fff;
        border: 0;
    }
    // elevator icon border
    .glyphicon-flash {
        border-color: #fff;
    }
    //logo part
    @at-root .brands-logo {
        text-align: center;
        width: 90px;
        height: 45px + 2*8px;
        margin: 0 auto;
        padding: 8px 0;
        img {
            max-height: 100%;
            width: auto;
        }
    }
}

// left nav part
#brandNav {
    width: 160px;
    position: fixed;
    margin-left: -($grid-gutter-width / 2);
    top: 50%;
    margin-top: -150px;
    li {
        @include transition(all 0.2s linear);
        // loop all the brands color for nav title
        @for $i from 1 through length($brands-color) {
            &.active a[href="#floor_#{$i}"],
            &:hover a[href="#floor_#{$i}"] {
                background: nth($brands-color, $i);
            }
        }
        a {
            // @include border-radius(0);
            padding: 5px 10px;
            color: #fff;
        }
    }
    .ifont{
        @include fsize(16);
        margin-right: 4px;
        margin-left: -2px;
    }
}

//loop all the brands color for right side's title
@for $i from 1 through length($brands-color) {
    #floor_#{$i} {
        @include floorColor(nth($brands-color, $i), darken(nth($brands-color, $i),8%));
        .brandMain-floor-titleBar {
            background: nth($brands-color, $i) !important;
        }
    }
}
