@at-root {
  @font-face {font-family: "iconfont";
    src: url('#{$ifont-path}iconfont.eot'); /* IE9*/
    src: url('#{$ifont-path}iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('#{$ifont-path}iconfont.woff') format('woff'), /* chrome, firefox */
    url('#{$ifont-path}iconfont.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
    url('#{$ifont-path}iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
  }
}
.ifont,.glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family:"iconfont" !important;
  font-style:normal;
  font-weight:normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
  vertical-align: top;
}

.glyphicon-shopping-cart,
.i-gouwuche                { &:before { content: "\e600"; } }            
.i-youhui                  { &:before { content: "\e601"; } }          
.i-houtui                  { &:before { content: "\e602"; } }          
.i-wenjiandengdai          { &:before { content: "\e603"; } }                  
.i-wenjian                 { &:before { content: "\e604"; } }          
.i-wodedingdan             { &:before { content: "\e605"; } }              
.i-xieziNF                 { &:before { content: "\e606"; } }          
.glyphicon-ok-sign,
.i-zhengque                { &:before { content: "\e607"; } }            
.i-truck                   { &:before { content: "\e608"; } }        
.i-nvxie                   { &:before { content: "\e609"; } }        
.i-zhifuanquan             { &:before { content: "\e60a"; } }              
.icon-category-3,
.i-nanzhuang               { &:before { content: "\e60b"; } }            
.i-jiaoyijilu              { &:before { content: "\e60c"; } }              
.i-huangguan               { &:before { content: "\e60d"; } }            
.glyphicon-trash,
.i-lajitong                { &:before { content: "\e60e"; } }            
.i-shangyiup               { &:before { content: "\e60f"; } }            
.glyphicon-chevron-down,
.i-arrowdown               { &:before { content: "\e610"; } }            
.glyphicon-chevron-left,
.glyphicon-menu-left,
.i-arrowleft               { &:before { content: "\e611"; } }            
.glyphicon-chevron-up,
.i-arrowup                 { &:before { content: "\e612"; } }          
.i-yinxingqia              { &:before { content: "\e613"; } }              
.glyphicon-chevron-right,
.glyphicon-menu-right,
.i-arrowRight              { &:before { content: "\e614"; } }            
.i-xunzhanghover           { &:before { content: "\e615"; } }                
.icon-category-8,
.i-shouji                  { &:before { content: "\e616"; } }          
.i-textiles                { &:before { content: "\e617"; } }            
.i-qiandai                 { &:before { content: "\e618"; } }          
.i-wallet                  { &:before { content: "\e619"; } }          
.i-iconmoban               { &:before { content: "\e61a"; } }            
.glyphicon-log-out,
.i-log-out                 { &:before { content: "\e61b"; } }          
.icon-category-9,
.i-bangongyongpin          { &:before { content: "\e61c"; } }                  
.i-needfix_write           { &:before { content: "\e61d"; } }                
.i-gouwuche1               { &:before { content: "\e61e"; } }            
.i-wenjianjia              { &:before { content: "\e61f"; } }              
.icon-category-6,
.i-iconbaobao              { &:before { content: "\e620"; } }              
.i-jiaoyijilu1             { &:before { content: "\e621"; } }              
.i-zuanshi                 { &:before { content: "\e622"; } }          
.i-lihe                    { &:before { content: "\e623"; } }        
.i-iconyuanguzhangdengji   { &:before { content: "\e624"; } }                        
.icon-category-11,
.i-muying                  { &:before { content: "\e625"; } }          
.icon-category-10,
.i-icon007                 { &:before { content: "\e626"; } }          
.icon-category-7,
.i-icon010                 { &:before { content: "\e627"; } }          
.glyphicon-star,
.i-shoucang                { &:before { content: "\e628"; } }            
.glyphicon-question-sign,
.i-bangzhu                 { &:before { content: "\e629"; } }          
.icon-category-5,
.i-jiankangxiezi           { &:before { content: "\e62a"; } }                
.i-zhidingicon             { &:before { content: "\e62b"; } }              
.i-crown                   { &:before { content: "\e62c"; } }        
.icon-category-2,
.i-icons04                 { &:before { content: "\e62d"; } }          
.icon-category-12,
.i-icons11                 { &:before { content: "\e62e"; } }          
.i-extoll                  { &:before { content: "\e62f"; } }          
.i-tuichudenglu            { &:before { content: "\e630"; } }                
.glyphicon-log-in,
.i-login                   { &:before { content: "\e631"; } }        
.i-wode                    { &:before { content: "\e632"; } }        
.i-anquan                  { &:before { content: "\e633"; } }          
.glyphicon-plus-sign,
.i-iconregister            { &:before { content: "\e634"; } }                
.i-bianji                  { &:before { content: "\e635"; } }          
.i-zengjia                 { &:before { content: "\e636"; } }          
.i-iconwenjian             { &:before { content: "\e637"; } }              
.icon-category-4,
.i-huwai                   { &:before { content: "\e638"; } }        
.icon-category-1,
.i-nvzhuang                { &:before { content: "\e639"; } }            
.i-wodeshoucang            { &:before { content: "\e63a"; } }                
.i-gongwenbao              { &:before { content: "\e63b"; } }              
.i-tishi                   { &:before { content: "\e63c"; } }        
.glyphicon-user,
.i-denglu                  { &:before { content: "\e63d"; } }          
.i-92                      { &:before { content: "\e63e"; } }      
.glyphicon-search,
.i-fangdajing              { &:before { content: "\e63f"; } }              
.i-lajitong1               { &:before { content: "\e640"; } }            
.i-kuaisudaozhang          { &:before { content: "\e641"; } }                  
.glyphicon-map-marker,
.i-dingwei                 { &:before { content: "\e642"; } }          
.i-guojiyunshu             { &:before { content: "\e643"; } }              
.i-huangguantubiao         { &:before { content: "\e644"; } }                  
.glyphicon-flash,
.i-133                     { &:before { content: "\e645"; } }      
.glyphicon-remove,
.i-remove                  { &:before { content: "\e646"; } }
.glyphicon-ok,
.i-ok                      { &:before { content: "\e647"; } }
.glyphicon-refresh,
.i-jiazai                  { &:before { content: "\e648"; } }
.glyphicon-plus,
.i-plus                    { &:before { content: "\e649"; } }
.glyphicon-minus,
.i-minus                   { &:before { content: "\e64a"; } }
.glyphicon-calendar,
.i-calendar                { &:before { content: "\e64d"; } }
.glyphicon-time,
.i-time                    { &:before { content: "\e64b"; } }
.glyphicon-pencil,
.i-pencil                  { &:before { content: "\e64c"; } }
//sort
.icon-sort                 { &:before { content: "\e64e"; } }
.glyphicon-sort-by-attributes-alt,
.icon-sort-attr-down       { &:before { content: "\e64f"; } }
.glyphicon-sort-by-attributes,
.icon-sort-attr-up         { &:before { content: "\e650"; } }
.glyphicon-arrow-down,
.icon-sort-down            { &:before { content: "\e651"; } }
.glyphicon-arrow-up,
.icon-sort-up              { &:before { content: "\e652"; } }