@charset "utf-8";
.cart {
    //address part
    &-address {
        h3 {
            font-weight: normal;
            margin-top: 40px;
            @include fsize(20);
        }
        small {
            @include fsize(14);
            padding-right: 13px;
        }
        div[data-toggle="buttons"] {
            margin-bottom: 20px;
        }
        em {
            font-style: normal;
            @include fsize(16);
        }
        .btn-default {
            border-style: dashed;
            cursor: default;
            background: $gray-lighterr;
            &:hover {
                background: $gray-lighter;
            }
            &.active {
                background: $btn_color_active;
                box-shadow: none;
                em {
                    color: $btn_color;
                }
            }
            a {
                color: $gray;
            }
        }
    }
    //table part
    &-t {
        &head,
        &body {
            div[class*="pure-u"] {
                text-align: center;
                position: relative;
            }
            .pure-u-1-2:last-child {
                font-size: 0; // remove the gutter between inline-blocks;
            }
        }
        &head {
            padding: 4px 0;
            border-bottom: 4px solid $btn_color;
            .hr-line {
                display: inline-block;
                width: 4px;
                height: 34px;
                position: absolute;
                background: #fff;
                right: 0px;
            }
        }
        &body {
            // gray background color for shopping cart page
            label {
                background: $gray-lighterr;
            }
        }
    }
    // affix bar
    &-bar {
        position: relative;
        background: $gray-dark;
        margin: 40px (-($grid-gutter-width / 2));
        z-index: 3;
        color: #fff;
        .container {
            height: 95px;
            padding: 10px;
        }
        &.affix {
            &-top {
                position: fixed;
                left: 0;
                bottom: 0;
                width: 100%;
                margin: 0;
            }
        }
        ul {
            margin: 0;
        }
        li {
            padding: 4px 0;
        }
        &-transport {
            text-align: right;
            padding: 0px 40px !important;
            em,
            small {
                margin-left: 8px;
                color: $btn_color;
                font-weight: bold;
            }
            small {
                font-size: 100%;
            }
            em {
                font-style: normal;
                @include fsize(20);
            }
            .dropdown-toggle {
                padding-top: 4px;
                padding-bottom: 0px;
                height: 30px;
            }
        }
        .btn-xlg {
            width: 100%;
            @include fsize(17);
        }
    }
}

//td part
.td {
    &-wrap {
        display: inline-table;
        height: 75px;
        em {
            color: $btn_color;
            font-style: normal;
        }
    }
    &-inner {
        display: table-cell;
        vertical-align: middle;
        white-space: normal;
        word-break: break-all;
    }
    &-shop {
        padding: 8px 0px;
    }
    &-cnt {
        > label {
            padding: 10px;
            cursor: default;
            &.active {
                background: $btn_color_active;
                box-shadow: none;
                .glyphicon-ok {
                    display: inline;
                }
                &:hover {
                    background: $btn_color_active;
                }
            }
            &.no-gutter {
                margin: 0;
            }
        }
        ul {
            margin: 0;
        }
        //border color override
        .btn-default {
            border-color: $gray-lighter;
        }
    }
    &-item {
        margin: 0 8px;
        text-align: left;
        dt,
        dd {
            margin: 0;
            display: inline-block;
            position: relative;
            height: 75px;
        }
        dt {
            width: 75px;
            vertical-align: top;
        }
        dd {
            padding: 0px 8px;
            width: 460px;
        }
        p{
            height: 20px;
            @include ellipsis(true);
        }
        .list-unstyled {
            bottom: 0px;
            position: absolute;
        }
        small {
            color: $gray-light;
        }
    }
}
