@charset "utf-8";
// bootstrap scss for nav
@import "bootstrap/_glyphicons.scss",
"bootstrap/_badges.scss",
"bootstrap/_navs.scss",
"bootstrap/_dropdowns.scss",
"bootstrap/_forms.scss",
"bootstrap/_navbar.scss",
"bootstrap/_buttons.scss",
"bootstrap/_popovers.scss";
//import flag icons for country select section
@import "flag";
//custom style 
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    background: #fff;
    @include transition(all .2s linear);
    //nav partly hidden
    &.hide {
        margin-top: -50px;
        .navbar-default {
            background: $nav_dark;
        }
    }
}

//limit the max-width of the nav
.navbar {
    @include transition(all .2s linear);
    &-header {
        width: 205px\0;
    }
}

//nav || top narrow bar
.navbar-narrow {
    max-height: 40px;
    margin-bottom: 10px;
    background: $nav_dark;
    .navbar-nav {
        margin-left: -($grid-gutter-width / 2);
    }
    a {
        color: $nav_gray;
        padding: 10px ($grid-gutter-width / 2) !important;
        &:hover,
        &:visited,
        &.active,
        &:active {
            background: $nav_dark_hover !important;
        }
    }
    i {
        margin-right: 8px;
    }
    .badge {
        margin-left: 8px;
    }
    //country dropdown list
    @at-root {
        .country-list {
            width: 250px;
            max-height: 300px;
            overflow-y: scroll;
            li {
                a {
                    &:hover {
                        color: #fff;
                        background: $btn_color !important;
                    }
                }
            }
            &-search {
                div {
                    width: 80%;
                    margin: 0 auto 5px;
                    border: 1px solid #eee;
                    padding: 8px;
                    input {
                        width: 80%;
                        border: 0;
                    }
                }
            }
        }
    }
}

//nav || search bar
.navbar-brand {
    max-width: 220px;
    overflow: hidden;
    height: 80px;
    @include transition(all .2s linear);
    // &:hover {
    //     max-width: 210px;
    // }
    img {
        max-height: 100%;
        width: auto;
    }
}

.navbar-search {
    //border: 1px solid #eee;
    @include fsize(14);
    padding-top: 15px;
    &-dropdown {
        $dropdown_w: 110px;
        width: $dropdown_w;
        text-transform: uppercase;
        a {
            padding: ($grid-gutter-width / 2) 0 !important;
            text-align: center;
        }
        .dropdown-menu {
            min-width: $dropdown_w;
        }
    }
    &-form {
        margin: 0 10px !important;
        padding: 0;
        .form-group {
            height: 50px;
            line-height: 50px;
            border: 1px solid $gray-lighte;
            background: #fff;
            width: 321px;
            text-align: center;
        }
        input {
            width: 300px;
            height: 30px;
            border: 0;
        }
    }
    &-btn {
        margin-left: -6px;
        width: 50px;
        height: 50px;
        background: #fff;
        border: 1px solid $gray-lighte;
        color: #666;
        //background: $btn_color;
        //color: #fff;
        @include border-radius(0);
        &:hover {
            color: #fff;
            background: $btn_color;
            @include box-shadow(inset 0 0 6px darken($btn_color, 6.5%));
        }
    }
    .glyphicon-shopping-cart,
    .badge {
        margin-right: 8px;
    }
    .badge {
        color: $btn_color;
        background: #fff;
    }
    .btn-lg {
        height: 50px;
    }
    > li {
        > a:hover,
        > a.active,
        > a:active {
            background: $btn_color !important;
            color: #fff !important;
        }
    }
}
