@charset "utf-8";
///* compass component */
@import "compass/css3";
@import "compass";
///* bootstrap v&m */
@import "bootstrap/variables",
"bootstrap/mixins";
//normalize
@import "normalize";
//import the compass ellipsis component
$use-mozilla-ellipsis-binding: true;
@import "compass/typography/text/ellipsis";
///*variables*/
$max_w:1190px;
$min_w:1190px;
//nav
$nav_dark: #333;
$nav_dark_hover: #424242;
$nav_gray: #afafaf;
$btn_color: #ff6801;
//icon-category
$icons-catogory-w: 16px;
$icons-catogory: sprite-map("icon-category/*.png", $layout: diagonal); // 使用对角线拼接方式,可确保生成的两张图片排列顺序一样,且是两倍size
$icons-catogory2x: sprite-map("icon-category2x/*.png", $layout: diagonal);
//login modal
$loginMod-bw: 14px; //border width
$header-bg: #242424;
$header-h: 55px;
$close-w:34px;
//brands page
//brands color for 12 floors
$brands-color: #993585,
#ff649d,
#f02681,
#f135cc,
#12a3dc,
#5f7cd0,
#3036a4,
#154484,
#3989da,
#209e55,
#ecbc13,
#f97a09;
$brands-item-padding: 6px;
//shopping cart
$btn_color_active: #ffe5e1;
//breadcrumb
$breadcrumb-separator:">";
$breadcrumb-padding-vertical: 7px;
$breadcrumb-padding-horizontal: 0;
$breadcrumb-bg: transparent;
// btn border radius set to 0
$btn-border-radius-base: 0; //$border-radius-base !default;
$btn-border-radius-large: 0; //$border-radius-large !default;
$btn-border-radius-small: 0; //$border-radius-small !default;
// account page
$acc-banner-blue: #7ecef4;
//link color
$link-color: $gray;
$link-hover-color: $btn_color;
//border-radius override
$input-border-radius-large: 0;
$input-border-radius-small: 0;
$font-size-large: 16px;
// font size override
$font-size-h5: 16px;
//tool tip style override
$tooltip-color: $gray;
$tooltip-bg: $gray-lighter;
$tooltip-arrow-color: $gray-lighter;
//about us page
$about-block-padding: 60px;
///* mixins */
//font-size px and rem
@mixin fsize($fs) {
    font-size: #{$fs}px;
    font-size: #{$fs/14}rem;
}

// Placeholder text
@mixin placeholder($color: $input-color-placeholder, $text-indent: 0) {
    &::-moz-placeholder {
        // Firefox 19+
        color: $color;
    }
    &:-ms-input-placeholder {
        color: $color;
    }
    &::-webkit-input-placeholder {
        color: $color;
        // Safari placeholder margin issue
        text-indent: $text-indent;
    }
}

// hover gray animation
@mixin hoverGray {
    @include transition(all 0.2s linear);
    &:hover {
        @include box-shadow(0 9.27px 30px rgba(0, 0, 0, 0.2));
        @include transform(translate3d(0, -1px, 0));
        z-index: 10;
    }
}

// index page floor's variety color
@mixin floorColor($floor_bg, $floor_bg_lite) {
    border-top: 4px solid $floor_bg;
    border-bottom: 1px solid $floor_bg;
    @include box-shadow(0 1px lighten($floor_bg, 50%));
    .indexMain-floor {
        &-title,
        &-countDown,
        &-titleBar,
        &-nav li {
            background: $floor_bg;
        }
        &-titleBar {
            .floor-series {
                color: $floor_bg;
            }
        }
        &-countDown {
            &.active {
                background: $floor_bg_lite;
            }
        }
        &-nav {
            background: $floor_bg;
            li {
                &:hover {
                    background: darken($floor_bg, 8%);
                }
                &:first-child {
                    background: $floor_bg_lite;
                }
            }
        }
    }
}

//gray filter
@mixin gray-filter() {
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter     id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
    /*     Firefox 10+, Firefox on Android */
    filter: gray;
    /* IE6-9 */
    -webkit-filter: grayscale(100%);
    /* Chrome 19+, Safari 6+, Safari 6+ iOS */
    -moz-filter: grayscale(100%);
    -o-filter: grayscale(100%);
}

//import pixeled font face
//@include font-face("Pixel Font", font-files("XPDR_02.ttf"));
html {
    font: normal 14px/20px "Microsoft YaHei", Arial, "Helvetica Neue", "Roboto", "Segoe UI", sans-serif;
}

body {
    -webkit-touch-callout: none;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    text-size-adjust: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
    word-wrap: break-word;
    text-decoration: none;
    -webkit-user-drag: none;
    text-rendering: optimizeLegibility;
    -ms-content-zooming: none;
    margin: 0;
    border: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

input,
textarea {
    @include placeholder($gray-lighte);
}

input,
select,
textarea,
button,
a:focus,
a:active {
    outline: 0;
}

//clear fix
.cf {
    *zoom: 1;
    &:before,
    &:after {
        content: " ";
        display: table;
    }
    &:after {
        clear: both;
    }
}

//float
.fll {
    float: left;
}

.flr {
    float: right;
}

//caret for nav bar
$caret-nav-width: 6px;
.caret-nav {
    border-width: $caret-nav-width !important;
    position: absolute;
    bottom: -$caret-nav-width;
    left: 50%;
    margin-left: -($caret-nav-width / 2) !important;
}

// colored font
.ft {
    &-primary {
        color: $brand-primary;
    }
    &-success {
        color: $brand-success;
    }
    &-info {
        color: $brand-info;
    }
    &-warning {
        color: $btn_color;
    }
    &-orange {
        color: $brand-warning;
    }
    &-danger {
        color: $brand-danger;
    }
    &-dark {
        color: $gray;
    }
    &-gray {
        color: $gray-light;
    }
    &-lite {
        color: $gray-lighte;
    }
    &-white {
        color: #fff;
    }
}

//zmall general style
.zm {
    // checkbox
    &-checkbox {
        position: relative;
        width: 22px;
        height: 22px;
        @include fsize(18);
        border: 1px solid $gray-light;
        color: $btn_color;
        text-align: center;
        display: inline-block;
        margin-right: 4px;
        vertical-align: middle;
        i {
            display: none;
            line-height: 1;
        }
        input {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            @include opacity(0);
            margin: 0 !important;
            border: 0 !important;
            cursor: pointer;
            z-index: 99;
        }
        &-sm {
            width: 16px;
            height: 16px;
            @include fsize(12);
        }
    }
    // load icon
    &-load {
        @include fsize(60);
        padding: 20px;
        &.sm{
            @include fsize(30);
            padding: 8px;
        }
        @include animation(zmload 1.8s cubic-bezier(.5,1.6,.5,-0.4) infinite);
        @include keyframes(zmload) {
            0% {
                @include transform(rotateZ(0deg));
            }
            100% {
                @include transform(rotateZ(360deg));
            }
        }
    }
}

//expand the btn style
.btn {
    &.btn {
        //dashed
        &-dashed {
            border-style: dashed;
        }
        &-bold {
            border: 2px solid $gray;
        }
    }
}

//text decoration line-through
.line-through {
    text-decoration: line-through;
}

// hr line style
hr {
    &.dashed {
        border-top-style: dashed;
    }
    &.nomar {
        margin: 0;
    }
}
