// #modal_log {
.zm-modal {
    .modal {
        &-content {
            //remove the border radius and add the border to the login modal
            border-radius: 0;
            border: $loginMod-bw solid rgba(255, 255, 255, 0.3);
        }
        &-header {
            padding: 0;
            background: $header-bg;
            line-height: $header-h;
            padding: 0 12px;
        }
        &-brand {
            height: $header-h;
            display: inline-block;
            img {
                max-height: 70%;
                width: auto;
            }
        }
        &-footer {
            text-align: center;
        }
        &-tip {
            @include fsize(16);
            color: $gray-light;
            &.flr {
                display: inline-block;
                width: 90%;
            }
            &.high-lighted,
            .high-lighted {
                color: $btn_color;
            }
        }
        &-success {
            display: none;
            height: ($modal-md - $header-h - 2*$loginMod-bw - 2*$modal-inner-padding);
            background: image-url("reg_success.jpg") no-repeat center 100px;
            padding-top: 280px;
            text-align: center;
            h3 {
                @include fsize(40);
                color: $btn_color;
                font-weight: normal;
                word-spacing: -5px;
            }
            a {
                @include fsize(26);
                color: #fff;
                background: $gray-lightee;
                padding: 10px 50px;
            }
        }
    }
    .nav-tabs {
        margin-top: 2px;
        >li {
            // @include fsize(24);
            // width: 50%;
            text-align: center;
            background: $gray-lighter;
            a {
                color: $gray-darker;
                border: 0 !important;
                margin: 0 !important;
            }
            &.active a {
                color: #fff;
                background: $btn_color;
            }
        }
        h3,
        h4 {
            margin: 0;
        }
    }
    .form-group {
        //margin-bottom: 30px;
        &:first-child {
            margin-top: 30px;
        }
        .control-label {
            font-weight: normal;
            color: $gray-light;
        }
        .input-group {
            padding: 0 15px;
        }
    }
    .close {
        //close button
        float: right;
        height: $close-w;
        width: $close-w;
        line-height: $close-w;
        margin: ($header-h - $close-w)/2 0;
        @include fsize(22);
        border: 0;
        color: #fff;
        background: $gray-light;
        @include opacity(100);
        @include border-radius(50%);
        i {
            top: unset;
            line-height: inherit;
        }
    }
    .list-unstyled {
        margin: 0;
        padding: 0;
        li {
            list-style: none;
        }
    }
}

//modal for account page v4
// #modal_acc {
//     .bootstrap-datetimepicker-widget {
//         margin-left: 15px;
//     }
// }

//address strip bar
.address-strip {
    font-size: 0;
    span {
        display: inline-block;
        width: 3.5%;
        height: 6px;
        margin: 0.75% 0.75% 0;
        @include transform(skew(45deg));
        &:nth-child(2n-1) {
            background: #335bb2;
        }
        &:nth-child(2n) {
            background: #b8635e;
        }
    }
}

.address-chosen {
    display: inline-block;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 0;
    height: 0;
    border-bottom: 30px solid $gray-lighte;
    border-left: 30px solid transparent;
    i {
        @include fsize(14);
        position: absolute;
        bottom: 0px;
        top: 13px;
        color: #fff;
        right: 3px;
    }
}
