// #modal_log {
.zm-modal {
    .modal {
        &-content {
            //remove the border radius and add the border to the login modal
            border-radius: 0;
            border: $loginMod-bw solid rgba(255, 255, 255, 0.3);
        }
        &-header {
            padding: 0;
            background: $header-bg;
            line-height: $header-h;
            padding: 0 12px;
        }
        &-brand {
            height: $header-h;
            display: inline-block;
            img {
                max-height: 70%;
                width: auto;
            }
        }
        &-footer {
            text-align: center;
        }
        &-tip {
            // @include fsize(16);
            color: $gray-light;
            &.flr {
                display: inline-block;
                width: 90%;
            }
            &.high-lighted,
            .high-lighted {
                color: $btn_color;
            }
        }
        @at-root {
            .modal-success,
            .modal-failed {
                display: none;
                height: ($modal-md - $header-h - 2*$loginMod-bw - 2*$modal-inner-padding);
                background: image-url("reg_success.jpg") no-repeat center 100px;
                padding-top: 280px;
                text-align: center;
                h3 {
                    @include fsize(40);
                    color: $btn_color;
                    font-weight: normal;
                    word-spacing: -5px;
                }
                a {
                    @include fsize(26);
                    color: #fff;
                    background: $gray-lightee;
                    padding: 10px 50px;
                }
            }
            .modal-failed {
                display: block;
                background-image: image-url("zmall_failed.png");
                @media (-webkit-min-device-pixel-ratio: 2), (min--moz-device-pixel-ratio: 2) {
                    background-image: image-url("zmall_failed@2x.png");
                    background-size: (image-width("zmall_failed.png")/2) auto;
                }
            }
        }
    }
    .nav-tabs {
        margin-top: 2px;
        >li {
            // @include fsize(24);
            // width: 50%;
            text-align: center;
            background: $gray-lighter;
            a {
                color: $gray-darker;
                border: 0 !important;
                margin: 0 !important;
            }
            &.active a {
                color: #fff;
                background: $btn_color;
            }
        }
        h3,
        h4 {
            margin: 0;
        }
    }
    .form-group {
        //margin-bottom: 30px;
        &:first-child {
            margin-top: 10px;
        }
        .control-label {
            font-weight: normal;
            color: $gray-light;
            //asterisk for required label
            &.required {
                &:before {
                    content: "*";
                    color: $btn_color;
                }
            }
        }
        .input-group {
            padding: 0 15px;
        }
        &-sm {
            margin-bottom: 0;
            &:first-child {
                margin-top: 0;
            }
        }
    }
    .close {
        //close button
        float: right;
        height: $close-w;
        width: $close-w;
        margin: ($header-h - $close-w)/2 0;
        line-height: 28px;
        border: 0;
        color: #fff;
        background: $gray-light;
        @include opacity(100);
        @include border-radius(50%);
    }
    .list-unstyled {
        margin: 0;
        padding: 0;
        li {
            list-style: none;
        }
    }
    //icons for recharge modal
    .acc-banner-icon {
        border-width: 0;
        color: #fff;
    }
    .icon-half-l,
    .icon-half-r {
        display: inline-block;
        width: 50%;
        height: 100%;
        position: absolute;
        top: 0;
        @include transform(rotateZ(45deg));
    }
    .icon-half-l {
        background: $gray-lightee;
        left: 0;
        @include border-radius(100px 0 0 100px);
        @include transform-origin(center right);
    }
    .icon-half-r {
        background: darken($gray-lightee, 5%);
        right: 0;
        @include border-radius(0 100px 100px 0);
        @include transform-origin(center left);
    }
    .text-center.active {
        color: $acc-banner-blue;
        > .acc-banner-icon {
            .icon-half-l {
                background: $acc-banner-blue;
            }
            .icon-half-r {
                background: darken($acc-banner-blue, 5%);
            }
        }
    }
    //progress dots
    div[class*="pure-u"] {
        position: relative;
    }
    .progress-dot-l,
    .progress-dot-r {
        position: absolute;
        line-height: 0;
        top: 35px;
        span {
            display: inline-block;
            width: 10px;
            height: 10px;
            background: $gray-lightee;
            @include border-radius(50%);
            margin: 0 2px;
        }
    }
    .progress-dot-l {
        left: -7px;
    }
    .progress-dot-r {
        right: -7px;
    }
}

//address strip bar
.address-strip {
    font-size: 0;
    span {
        display: inline-block;
        width: 3.5%;
        height: 6px;
        margin: 0.75% 0.75% 0;
        @include transform(skew(45deg));
        &:nth-child(2n-1) {
            background: #335bb2;
        }
        &:nth-child(2n) {
            background: #b8635e;
        }
    }
}

.address-chosen {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 0;
    height: 0;
    border-bottom: 30px solid $gray-lighte;
    border-left: 30px solid transparent;
    i {
        @include fsize(14);
        position: absolute;
        bottom: 0px;
        top: 13px;
        color: #fff;
        right: 3px;
    }
}

//upload section for modal rights
.upload {
    &-wrap {
        padding: 6px 0;
    }
    &-thumb {
        width: 60px;
        height: 60px;
        display: inline-block;
        position: relative;
        padding: 4px;
        z-index: 2;
        background: #fff;
        input {
            position: absolute;
            width: 100%;
            height: 100%;
            @include opacity(0);
            cursor: pointer;
            z-index: 3;
        }
        &:hover {
            .upload-op {
                z-index: 1;
            }
        }
    }
    &-op {
        width: 100%;
        height: 100%;
        line-height: 60px;
        text-align: center;
        position: absolute;
        top: 0;
        left: 0;
        @include fsize(30);
        cursor: pointer;
        background: $gray-lighter;
        background: rgba(0, 0, 0, 0.1);
        color: #fff;
        z-index: -1;
    }
}

//chat box
.chatBox {
    padding: 6px 0;
    &-wrap {
        padding: 0 6px;
        margin: 6px 0;
        border: 1px dashed $gray-lightee;
        max-height: 320px;
        overflow-y: scroll;
    }
    .label {
        display: inline-block;
        margin-bottom: 4px;
    }
    .media-left,
    .media-right,
    .media-body {
        display: table-cell !important;
        vertical-align: middle;
        top: unset !important;
        left: unset !important;
        position: relative;
    }
    .media-left,
    .media-right {
        max-width: 60px;
    }
    .tooltip-arrow {
        top: 50% !important;
    }
    .tooltip-inner {
        max-width: unset !important;
        display: inline-block;
        text-align: justify;
    }
    .tooltip.left {
        .tooltip-arrow {
            border-left-color: $acc-banner-blue;
        }
        .tooltip-inner {
            background: $acc-banner-blue;
            color: #fff;
        }
    }
    // .tooltip.right {
    //     .tooltip-arrow{
    //         border-right-color: $gray-lighter;
    //     }
    //     .tooltip-inner{
    //         background: $gray-lighter;
    //         color: $gray;
    //     }
    // }
}
